function walls.draw 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 299
push constant 9
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 190
push constant 299
push constant 199
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 10
push constant 9
push constant 189
call Screen.drawRectangle 4
pop temp 0
push constant 290
push constant 10
push constant 299
push constant 189
call Screen.drawRectangle 4
pop temp 0
push constant 40
push constant 40
push constant 49
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 250
push constant 40
push constant 259
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 50
push constant 40
push constant 129
push constant 49
call Screen.drawRectangle 4
pop temp 0
push constant 170
push constant 40
push constant 249
push constant 49
call Screen.drawRectangle 4
pop temp 0
push constant 50
push constant 150
push constant 129
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 170
push constant 150
push constant 249
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 80
push constant 80
push constant 219
push constant 89
call Screen.drawRectangle 4
pop temp 0
push constant 80
push constant 110
push constant 219
push constant 119
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function walls.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
